# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# Environment-specific files
.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.iml

# Android related
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/local.properties
**/gradle-wrapper.jar

# iOS/macOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
macos/Flutter/ephemeral/
macos/build/

# Web related
web/.dart_tool/
web/build/

# Linux related
linux/flutter/ephemeral/
linux/build/

# Windows related
windows/flutter/ephemeral/
windows/build/

# Fuchsia related
.fuchsia/

# Intellij related
*.ipr
*.iws
*.bak
*.swp

# Others
pubspec.lock
*.log
*.tmp

# Firebase/Crashlytics
**/google-services.json
**/GoogleService-Info.plist
firebase-debug.log
